{
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "globals": {
    "process": false
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-alert": 0,
    "no-console": 0,
    "quotes": 0,
    "camelcase": 0,
    "curly": 0,
    "global-strict": 0,
    "key-spacing": 0,
    "new-cap": 0,
    "no-unused-vars": 0,
    "comma-spacing": 0,
    "space-infix-ops": 0,
    "no-trailing-spaces": 0,
    "no-mixed-spaces-and-tabs": 0,
    "no-multi-spaces": 0,
    "semi-spacing": 0,
    "comma-dangle": 1,
    "no-extra-semi": 1,
    "eol-last": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2
  }
}
