node_modules/
dist
.tmp
.sass-cache/
app/bower_components

#eclipse
.project
.settings/*
dicoogle/.classpath
dicoogle/.settings/*
sdk-ext/.classpath
sdk-ext/.settings/*
sdk/.classpath
sdk/.project
sdk/.settings/*
webcore/lib/
.idea
.vscode/
*.iml


#MacOS
.DS_Store
.AppleDouble
.LSOverride
._*

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk