/target
/index
/Plugins
/clientConfig.xml
/config.xml
/nbactions.xml
/DICOMLOG.log
/foreignNames.ser
/luceneplugin.log
/luceneplugin.log.1
/luceneplugin.log.1.lck
/luceneplugin.log.lck
/match.ser
/QueryHistory.ser
/sessions.log
/tags.xml
/users.xml
/log4j-2.xml
/log4j.properties
/Server_Keystore
/dependency-reduced-pom.xml
*.log
