//COLORS

$blue1: #337ab7;
$blue2: #0094a0;
$blue3: #009ba8;
$blue4: #4c97d8;
$blue5: #4c97d8;
$blue6: #cbe0f2;

$main_color: #cbe0f2;
$hover_color: #4c97d8;
$main_bg: #ffffff;
$button_color: #fff;

$error: #dc3545;
$danger: #ffc107;
$success: #28a745;
