body {
    background-color: $main_bg;
    font-family: $app_font;
    text-rendering: optimizeLegibility;
}
.vertical_center {
    vertical-align: middle;
}
input {
    margin: 0;
}
.inline_block {
    display: inline-block;
}
.globalmargin {
    margin: 10px;
}
.space_up {
    margin-top: 10px;
}
.subject_text {
    font-size: 17px;
    color: $blue1;
    font-weight: bold;
}
.centerDivH {
    margin: 0 auto;
    display: block;
}
.outer {
    display: table-cell;
    vertical-align: middle;
}

.modal{
  background-color: rgba(0,0,0,0.5);
}

//FAKE DEFINITIONS
.resultfake {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
}

.scrolldiv{
  white-space: pre-line;
  overflow-y: auto;
  //overflow: auto;
  height: 500px;
}

.toast {
    min-width: 200px;
    height: auto;
    position:fixed;
    left:50%;
    margin-left:-100px;
    bottom:20px;
    background-color: $blue5;
    color: #FFFFFF;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    display:none;
}
.testdapissa{
  height: 400px;
}

.indexstatusprogress{
  margin-top: 8px;
}

.table_text_wrap{

  word-wrap: break-word;
}
.table-test{
  column-width: auto !important;
}
.table-dump {
  min-width: 800px;
}