@media screen and (max-width: 480px) {
    .nav {
        padding-left: 2px;
        padding-right: 2px;
    }
    .nav li {
        display: block !important;
        width: 100%;
        margin: 0px;
    }
    .nav li.active {
        border-bottom: 1px solid #ddd!important;
        margin: 0px;
    }
}
.nav-pills {
    li.active {
        a {
            background-color: $blue1;
            &:hover {
                background: $blue1;
            }
            &:focus {
                background: $blue1;
            }
        }
    }
    li {
        a {
            background-color: $main_color;
            color: $blue1;
            &:hover {
                background: $hover_color;
            }
        }
    }
}
.well {
    background: $main_color;
}

.list-group-item-management{
    border-color:$hover_color;
    border-right-color: white;
    border-left-color: white;
}

.panel-primary{
    .panel-heading{
 background-color: $hover_color;   
    }
    
    border-color: $hover_color;
}

.panel-title{
    color: $blue1;
}

.topMargin{
 margin-top: 30px;   
}