.about {
  max-width: $app_content_max_width;

  padding: 30px;
  justify-content: center;
}

.gridAbout {
  margin-top: 10px;
  border: #cdcdcd medium solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
