.exportlist {
  width: 100%;
  height: 400px;
}

.modal-dicoogle {
  text-align: unset;
  margin: auto 10px;
}

.btn-export {
  float: right;

  @media (max-width: 599px) {
    margin-top: 5px;
  }
}
