.step{
	height: 45px;
	padding: 5px;
	cursor: pointer;
	margin-bottom: 10px;

}
.step.done{
	background-color: $blue5;
}
.step.current{
	background-color: $blue5;
	border-color: $blue1;
	border-style: solid;
    border-width: 4px;

		-webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    5px 5px 5px 0px rgba(50, 50, 50, 0.75);
		box-shadow:         5px 5px 5px 0px rgba(50, 50, 50, 0.75);

}
.step.disabled{
	background-color: $blue6;
	cursor: default;
    display: none;
}
.stepa{
	padding: 10px;
}

.resultRow{
	&:hover{
		background-color: $blue6;
	}
}
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: $blue6;
}

.table thead th {
    background-color: #EEEEEE;
	color: black;
    font-style: bold;
}
.table {
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
    li.active {
        a {
            background-color: $blue1;
            &:hover {
                background: $blue1;
            }
            &:focus {
                background: $blue1;
            }
        }
    }
    li {
        a {
            background-color: $main_color;
            color: $blue1;
            &:hover {
                background: $hover_color;
            }
        }
    }
}