.step{
	height: 45px;
	padding: 5px;
	cursor: pointer;
	margin-bottom: 10px;

}
.step.done{
	background-color: $blue5;
}
.step.current{
	background-color: $blue5;
	border-color: $blue1;
	border-style: solid;
    border-width: 4px;

    -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 5px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         5px 5px 5px 0px rgba(50, 50, 50, 0.75);

}
.step.disabled{
	background-color: $blue6;
	cursor: default;
    display: none;
}
.stepa{
    margin-top: 20px;
	padding: 5px;
}

.resultRow{
	&:hover{
		background-color: $blue6;
	}
}
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: $blue6;
    height:5px; 
    max-height:5px; 
    overflow:hidden;
}



.table thead th {
    background-color: #EEEEEE;
	color: black;
    font-style: bold;
    
}


.pagination {
    li.active {
        a {
            background-color: $blue1;
            &:hover {
                background: $blue1;
            }
            &:focus {
                background: $blue1;
            }
        }
    }
    li {
        a {
            background-color: $main_color;
            color: $blue1;
            &:hover {
                background: $hover_color;
            }
        }
    }
}
/** Advanced Options SASS */
.advancedOptions {
    // For select, default padding margins
    .select {
        padding: 2px !important;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    // Define radio values (bootstrap default are not good for this one)
    .radio {
        margin-left: 0px;
    }
    // Define radio values (bootstrap default are not good for this one)
    // + checkbox type
    .form-group{
        border: none;
        margin-bottom: 0px;
        
        text-align: center; 
        padding: 0;
        white-space: nowrap;
        
        min-height: 10px; 
        vertical-align: top;
        
       .radio input[type="radio"], 
       .radio-inline input[type="radio"], 
       .checkbox input[type="checkbox"], 
       .checkbox-inline input[type="checkbox"] 
        {
            margin-left: -5px;
            margin-top: 0px;
            margin-bottom: 0px; 
        }        
        
    }
    

}
