
.submit {
    
    background-color: $buttonColor;
    
}

.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #297f8c));
	background:-moz-linear-gradient(top, #599bb3 5%, #297f8c 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #297f8c 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #297f8c 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #297f8c 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #297f8c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#297f8c',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #297f8c), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #297f8c 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #297f8c 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #297f8c 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #297f8c 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #297f8c 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#297f8c', endColorstr='#599bb3',GradientType=0);
	background-color:#297f8c;
}
.myButton:active {
	position:relative;
	top:1px;
}