{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "plugins": [ "import" ],
  "globals": {
    "process": false
  },
  "rules": {
    "no-console": 0,
    "quotes": 0,
    "curly": 0,
    "new-cap": 0,
    "camelcase": 0,
    "no-unused-vars": 1,
    "comma-dangle": 1,
    "no-extra-semi": 1,
    "key-spacing": 1,
    "semi-spacing": 1,
    "eol-last": 1,
    "valid-jsdoc": 1,
    "no-undef": 2,
    "import/no-unresolved": [2, {"commonjs": true, "ignore": ["dicoogle-client"]}],
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2
  }
}
