body {
  background-color: #ffffff;
  font-family: lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility; }

.vertical_center {
  vertical-align: middle; }

input {
  margin: 0; }

.inline_block {
  display: inline-block; }

.globalmargin {
  margin: 10px; }

.space_up {
  margin-top: 10px; }

.subject_text {
  font-size: 17px;
  color: #008C99;
  font-weight: bold; }

.centerDivH {
  margin: 0 auto;
  display: block; }

.outer {
  display: table-cell;
  vertical-align: middle; }

.modal {
  background-color: rgba(0, 0, 0, 0.5); }

.resultfake {
  width: auto !important;
  height: auto !important;
  max-width: 100%; }

.scrolldiv {
  overflow-y: auto;
  height: 500px; }

.toast {
  width: 200px;
  height: 20px;
  height: auto;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: 20px;
  background-color: #49AFBB;
  color: #FFFFFF;
  font-family: Calibri;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 24px -1px #383838;
  -moz-box-shadow: 0px 0px 24px -1px #383838;
  box-shadow: 0px 0px 24px -1px #383838;
  display: none; }

.testdapissa {
  height: 400px; }

.indexstatusprogress {
  margin-top: 8px; }

.table_text_wrap {
  word-wrap: break-word; }

.table-test {
  column-width: auto !important; }

.btn_dicoogle {
  background-color: #008C99;
  color: #ffffff;
  margin-right: 5px; }
  .btn_dicoogle:hover {
    background-color: #1BA5B2;
    color: #ffffff; }
  .btn_dicoogle a {
    color: #ffffff; }

.ball-pulse > div {
  background-color: #A3D2D8; }

.step {
  height: 45px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 10px; }

.step.done {
  background-color: #49AFBB; }

.step.current {
  background-color: #49AFBB;
  border-color: #008C99;
  border-style: solid;
  border-width: 4px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75); }

.step.disabled {
  background-color: #a3d2d8;
  cursor: default; }

.stepa {
  padding: 10px; }

.resultRow:hover {
  background-color: #a3d2d8; }

.table-striped > tbody > tr:nth-child(odd).resultRow:hover {
  background-color: #a3d2d8; }

.modalities {
  width: 200px; }

.exportlist {
  width: 100%;
  height: 400px; }

.logincontainer {
  max-width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75); }

.loginlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 220px; }

.loginA {
  display: block;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px; }

.loginTextA {
  text-align: left;
  width: 100%;
  margin-left: 5px;
  color: black; }

.loginInputUsername {
  width: 100%;
  margin: 5px;
  margin-top: 0px; }

.loginInputPassword {
  width: 100%;
  margin: 5px; }

.loginbody {
  height: 100vh;
  padding-top: 60px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 120px;
  background-color: #DFEEF3;
  background-size: cover; }

#footer {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0; }

.footercontainer {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align: center; }

#loginwrapper {
  min-height: 100%;
  position: relative; }

.loginloader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 0px;
  margin-top: 30px; }

.user-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  vertical-align: middle; }

.user-name {
  font-size: 20px;
  color: #6CB7C5; }

#sidebar-wrapper {
  background-color: #DFEEF3; }

.sidebar-nav {
  margin-top: 50px; }
  .sidebar-nav li a {
    color: #6CB7C5;
    font-size: 17px;
    font-weight: bold; }
    .sidebar-nav li a:hover {
      background: #A3D2D8; }
  .sidebar-nav .active {
    background: #A3D2D8;
    color: #ffffff; }

.topbar {
  width: 100%;
  height: 50px;
  background: #008C99;
  position: fixed;
  z-index: 1001; }

.btn_drawer {
  width: 50px;
  height: 50px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  padding: 15px; }

.topbar a {
  height: 50px;
  color: #ffffff;
  font-size: 30px;
  vertical-align: middle; }

@media screen and (max-width: 480px) {
  .nav {
    padding-left: 2px;
    padding-right: 2px; }

  .nav li {
    display: block !important;
    width: 100%;
    margin: 0px; }

  .nav li.active {
    border-bottom: 1px solid #ddd !important;
    margin: 0px; } }
.nav-pills li.active a {
  background-color: #008C99; }
  .nav-pills li.active a:hover {
    background: #008C99; }
  .nav-pills li.active a:focus {
    background: #008C99; }
.nav-pills li a {
  background-color: #DFEEF3;
  color: #008C99; }
  .nav-pills li a:hover {
    background: #A3D2D8; }

.well {
  background: #DFEEF3; }

.list-group-item-management {
  border-color: #A3D2D8;
  border-right-color: white;
  border-left-color: white; }

.panel-primary {
  border-color: #A3D2D8; }
  .panel-primary .panel-heading {
    background-color: #A3D2D8;
    background-image: none; }

.indexprogress {
  width: 40%; }

.panel-title {
  color: #008C99; }

.topMargin {
  margin-top: 30px; }

#container {
  max-width: 1000px;
  margin: auto;
  display: block;
  padding: 20px;
  padding-top: 70px; }

/*# sourceMappingURL=dicoogle.css.map */
