
.advanced tbody tr td
{
	vertical-align: top;
	padding-right: 30px;
}

.modalities
{
	border-collapse: collapse;
	border-spacing: 0;
}

.modalities tbody tr td
{
	padding-right: 15px;
        
}

.dates tbody tr td
{
	padding-right: 5px;
}

/**
 * CSS3 based TreeView (JavaScript free!)
 * Based on http://acidjs.wemakesites.net/css3-treevew-no-javascript.html
 */

.treeview ul,
.treeview li
{
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview li
{
	padding-top: 4px;
}

.treeview li:last-child
{
	padding-bottom: 4px;
}

.treeview input
{
	position: absolute;
	opacity: 0;
}

.treeview
{
	font: normal 12px Verdana, Arial, Sans-serif;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	border: 1px solid rgb(88, 93, 98);
	padding: 5px;
	background-color: rgb(240, 245, 250);
}

.treeview li:nth-child(2n)
{
	background-color: rgb(245, 250, 255);
}

.treeview li:nth-child(2n+1)
{
	background-color: rgb(240, 245, 250);
}

.treeview a
{
	color: #00f;
	text-decoration: none;
}

.treeview a:hover
{
	text-decoration: underline;
}

.treeview input + label + ul
{
	margin: 0 0 0 22px;
}

.treeview input ~ ul
{
	display: none;
}

.treeview label,
.treeview label::before
{
	cursor: pointer;
}

.treeview input:disabled + label
{
	cursor: default;
	opacity: .6;
}

.treeview input:checked ~ ul
{
	display: block;
}

.treeview label::before
{
	background: url("icons.png") no-repeat;
}

.treeview label,
.treeview a,
.treeview label::before
{
	display: inline-block;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
}

.treeview label::before
{
	content: "";
	width: 22px;
	vertical-align: middle;
	background-position: 0 -32px;
}

.treeview input:checked + label::before
{
	background-position: 0 -16px;
}

/**
 * CSS3 based Tabs (JavaScript free!)
 * Based on http://tympanus.net/codrops/2012/04/12/animated-content-tabs-with-css3/
 * NOTE: there is a "bug" on the default android browser, see
 * all the other browsers work ok.
 */

.tabs label:first-of-type
{
	z-index: 4;
}

.tab-label-2
{
	z-index: 3;
}

.tab-label-3
{
	z-index: 2;
}

.tab-label-4
{
	z-index: 1;
}

.tabs input:checked + label
{
	z-index: 6;
}

.tabs .contents .tab-content
{
	z-index: 1;
	display: none;
}

.tabs input.tab-selector-1:checked ~ .contents .content-1,
.tabs input.tab-selector-2:checked ~ .contents .content-2,
.tabs input.tab-selector-3:checked ~ .contents .content-3,
.tabs input.tab-selector-4:checked ~ .contents .content-4
{
	z-index: 100;
	display: inline;
}

/**
 * The following is to fix some bugs on webkit based browsers (Safari and Chrome).
 * Although the desktop version Chrome as the bugs fixed, the mobile version (Android) does not.
 * These bugs are mostly about incorrect behaviour on sibling selectors (https://developer.mozilla.org/en-US/docs/CSS/General_sibling_selectors)
 * More information on the bugs here:
 *	https://css-tricks.com/forums/discussion/18225/checkbox-hack-on-mobile-webkit/
 *	https://bugs.webkit.org/show_bug.cgi?id=18027
 *	http://css-tricks.com/webkit-sibling-bug/
 *	http://demo.marcofolio.net/webkit_bug/
 */

body
{
	-webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix
{
	from
	{
		padding: 0;
	}
	to
	{
		padding: 0;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.treeview
	{
		-webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
	}

	@-webkit-keyframes webkit-adjacent-element-selector-bugfix
	{
		from
		{
			padding: 0;
		}
		to
		{
			padding: 0;
		}
	}
}