# This workflow validates and builds the Dicoogle web application.
name: Build Webapp with Node.js

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
    paths:
     - 'dicoogle/src/main/resources/webapp/**'
     - 'webcore/**'
     - '.github/workflows/node.yml'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, lts/*, latest]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        # Recommended versions to include:
        # - minimum supported version
        # - latest LTS
        # - latest stable

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'
    - working-directory: ./dicoogle/src/main/resources/webapp
      run: npm ci
    - name: Check & build webapp
      working-directory: ./dicoogle/src/main/resources/webapp
      run: npm run check && npm run build
